@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Quicksand, sans-serif;
    font-weight: 200;
    font-size: 70%;
    color: #17202a;
    background-color: #eaeded;
}


/* logo and nav*/



#logo {
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #17202a;
    font-size: 330%;
    float: left;
    margin-left: 30px;
    line-height: 70px;
}

#nav {
    float: right;
    font-size: 130%;
    line-height: 70px;
}

#nav li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #17202a;
}

.active {
    border-bottom: 1px solid #17202a;
}

/* hero image and text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-sergio-souza.jpg') no-repeat center center;
}

#cover-text {
    font-size: 175%;
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #f0ec18;
    
    position: absolute;
    bottom: 60px;
    left: 0px;
}

/* tournament section */

hr {
    border-top: 2px solid #17202a;
    width: 100%;
    margin: 5px 0;
}

#tournament {
    display: inline;
}

#text-side {
    width: 50%;
    height: 450px;
    float: left;
}

#image-right {
    width: 50%;
    height: 450px;
    float: right;
}

#image-right img {
    width: 100%;
    height: 100%;

}

.text-side-left {
    width: 45%;
    height: 50%;
    float: left;
    line-height: 25px;
    margin: 20px 0 20px 20px;
}

.text-side-right {
    width: 45%;
    height: 50%;
    float: right;
    line-height: 25px;
    margin: 20px 20px 20px 0;
}

.text-side-left h2 { 
    font-family: Inconsolata, sans-serif;
    font-size: 220%;
    text-align: left;
}

.text-side-right h2 {
    font-family: Inconsolata, sans-serif;
    font-size: 220%;
    text-align: right;
}

.text-side-left h3 {
    text-align: left;
}

.text-side-right h3 {
    text-align: right;
}

/* calendar section */

#image-left {
    width: 50%;
    height: 450px;
    float: left;
}

#image-left img {
    width: 100%;
    height: 100%;

}

#calendar {    
    display: inline;
}

#calendar-event {
    width: 50%;
    height: 450px;
    float: right;
}

.calendar-event-left {
    width: 45%;
    height: 50%;
    float: left;
    line-height: 25px;
    margin: 20px 0 20px 20px;
}

.calendar-event-right {
    width: 45%;
    height: 50%;
    float: right;
    line-height: 25px;
    margin: 20px 0 20px 20px;
}

.calendar-event-left h2 {
    font-family: Inconsolata, sans-serif;
    font-size: 220%;
    text-align: center;
}

.calendar-event-right h2 {
    font-family: Inconsolata, sans-serif;
    font-size: 220%;
    text-align: center;
}

.calendar-event-left h3 {
    padding-top: 10px;
    text-align: center;
}

.calendar-event-right h3 {
    padding-top: 10px;
    text-align: center;
}

/* footer */

#contacts {
    width: 30%;
    height: 100px;
    float: left;
    background-color: #f0ec18;
    line-height: 17px;
    font-size: 80%;
    padding-left: 1%;
    padding-top: 1%;
}

#contacts h2 {
    font-family: Inconsolata, sans-serif;
    text-align: left;
}

#contacts h3 {
    text-align: left;
}

#social {
    width: 68%;
    height: 100px;
    float: right;
    background-color: #17202a;
    padding-right: 1%;
    padding-top: 1%;
}

#social h2 {
    color: #f0ec18;
    float: left;
    padding: 50px 0 0 20px;
}

#social h2 > i {
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #f0ec18;
}

#social a {
    color: #f0ec18;
}

#social a:hover {
    color: #eaeded;
}

#social li {
    display: inline;
    float: right;
    padding: 50px 30px 0 0;
}

#social i {
    font-size: 220%;
    margin: 5%;
    padding: 5%;
    color: #f0ec18;
}


/* sign up page  */


.form-section {
    clear: left;
    background: url('../images/pexels-rodnae-productions.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #17202a;
    max-width: 450px;
    background-color: rgba(240, 236, 24, .8);
    position: absolute;
    left: 33%;
    
    font-size: 100%;
    font-weight: 900;
}

.signup-form h2 {
    font-size: 280%;
}

.signup-form label, .signup-form h3 {
    font-size: 150%;
}

.text-input {
    background: transparent;
    color: #17202a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #17202a;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #17202a;
}

.birthday {
    background: transparent;
    color: #17202a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #17202a;
    border-radius: 2px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #17202a;
    color: #f0ec18;
    display: block;
}

.join-button:hover {
    background-color: #f0ec18;
    color: #17202a;
}


/* Media queries  */

/* For medium screens size from 900px wide and down */
@media screen and (max-width: 900px) {
    hr {
        display: none;
    }

    #text-side {
        width: 50%;
        height: 300px;
        float: left;
    }

    #image-right {
        width: 50%;
        height: 300px;
        float: right;
    }
    
    .text-side-left {  
        float: left;
        line-height: 15px;
        margin: 10px 0 10px 10px;
    }
    
    .text-side-right {
        float: right;
        line-height: 15px;
        margin: 10px 10px 10px 0;
    }

    .text-side-left h2, .text-side-right h2 {
        font-size: 150%;
    }

    .text-side-left h3, .text-side-right h3 {
        font-size: 75%;
    }

    #image-left {
        width: 50%;
        height: 300px;
        float: left;
    }

    #calendar-event {
        width: 50%;
        height: 300px;
        float: right;
    }
    
    .calendar-event-left {
        float: left;
        line-height: 15px;
        margin: 10px 0 10px 10px;
    }
    
    .calendar-event-right {
        float: right;
        line-height: 15px;
        margin: 10px 0 10px 10px;
    }
    
    .calendar-event-left h2, .calendar-event-right h2 {
        font-size: 150%;
    }

    .calendar-event-left h3, .calendar-event-right h3 {
        font-size: 75%;
    }

    #social h2 {
        font-size: 80%;
    }
    
    #social h2 > i {
        font-size: 70%;
    }

    #social i {
        font-size: 150%;
    }
} 

/* for small screens size 650px wdie and down */
@media screen and (max-width: 650px) {
    #nav {
        float: left;
        padding-left: 10px;
        font-size: 80%;
    }

    #cover-text {
        width: 300px;
        height: 150px;
    }

    #text-side {
        width: 35%;
    }

    #image-right {
        width: 65%;
    }

    .text-side-left, .text-side-right {
        width: 100%;
        height: 22%;
        float: left;
        line-height: 10px;
        margin: 0;
        font-size: 70%;
    }

    #image-left {
        width: 65%;
    }

    #calendar-event {
        width: 35%;
    }

    .calendar-event-left, .calendar-event-right {
        width: 100%;
        height: 25%;
        line-height: 10px;
        margin: 0;
        font-size: 80%;
    }

    #contacts {
        width: 50%;
    }

    #social {
        width: 48%;
    }

    #social li {
        display: block;
        padding: 3px;
    }

}